@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --main: #1f2937; /* Background hero and footer*/
  --accent: #e5e7eb; /* Secondary text, header links */
  --logo: #f9faf8; /* Hero logo text */
  --secondary: #3882f6; /* Button and call and call to action */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  /* outline: dotted 1px; */
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  width: 80vw;
  height: 100%;
  margin: 0 auto;
}

/* Header section */
.header {
  background-color: var(--main);
  padding: 32px 0;
}

.header .container {
  display: flex;
}

.header > img {
  margin-right: auto;
}

.header > ul {
  list-style-type: none;
  padding: 0%;
  margin: 0%;
  gap: 16px;
  display: flex;
}

.header,
a {
  color: var(--accent);
  text-decoration: none;
}

/* Hero section */
.hero {
  background-color: var(--main);
  padding: 32px 0; /* Check this later */
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.hero-left {
  flex: 1;
  max-width: 50%;
}

.hero h1 {
  font-size: 48px;
  color: var(--logo);
  font-weight: 900;
}

.hero p {
  font-size: 18px;
  color: var(--accent);
  margin: 16px 0;
}

.hero button {
  color: var(--logo);
  background-color: var(--secondary);
  padding: 8px 32px;
  border-radius: 8px;
  font-weight: bold;
}

.hero img {
  flex: 1;
  max-width: 50%;
}

/* Pseudo Carousel section */
.content h2 {
  font-size: 36px;
  color: var(--main);
}

.quote {
  background-color: #e5e7eb;
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
}

footer {
  margin-top: auto;
  background-color: var(--main);
  text-align: center;
  color: var(--accent);
  padding: 36px;
}
